/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/metaboigniter -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input = '/home/zhiyu/data/software/nfcore/metaboigniter/test-datasets-metaboigniter/samplesheet.csv'
    
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 70
    max_memory = '100.GB'
    max_time   = '200.h'
    
    
    identification=true
    polarity="positive"
    // ms2_collection_model="separate"
    run_sirius = true
    sirius_split = true
    // mgf_splitmgf_pyopenms = 100
    run_ms2query = true
    requantification = true
    algorithm_ffm_charge_upper_bound_featurefindermetabo_openms=1


}
